# Ignorar variables de entorno
.env

# Ignorar dependencias del Node
node_modules/

# Ignorar logs u otros archivos temporales
npm-debug.log*
.DS_Store # Para usuarios de macOS
build/ # Si tu frontend genera una carpeta build
dist/ # Si tu frontend genera una carpeta dist